.pointspin {
	width: 122px;
	height: 40px;

	border: 4px solid #9C9898;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;      
}